name: Cancel
on:
  workflow_run:
    workflows: ["xskillscore installs", "xskillscore testing", "Lint", "CI Upstream"]
    types:
      - requested
jobs:
  cancel:
    name: Cancel previous runs
    runs-on: ubuntu-latest
    steps:
    - uses: styfle/cancel-workflow-action@0.9.0
      with:
        workflow_id: ${{ github.event.workflow.id }}
