name: xskillscore testing

on: [push, pull_request]

jobs:
  test:  # xskillscore testing
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          mamba-version: '*'
          environment-file: ci/minimum-tests.yml
          activate-environment: xskillscore-minimum-tests
          auto-activate-base: false

      - name: Build environment
        run: |
          mamba env update -f ci/minimum-tests.yml

      - name: Install
        shell: bash -l {0}
        run: python -m pip install -e .

      - name: Conda info
        run: conda info

      - name: Conda list
        run: conda list

      - name: Run tests
        run: |
          pytest -n 4 --cov=xskillscore --cov-report=xml --verbose

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1.0.7
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: false

  docs_notebooks:  # Checks that pre-compiled notebooks in docs still work.
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          channels: conda-forge
          mamba-version: '*'
          activate-environment: xskillscore-docs-notebooks
          python-version: 3.8
      - name: Set up conda environment
        run: |
          mamba env update -f ci/docs_notebooks.yml
      - name: Conda info
        run: conda info
      - name: Conda list
        run: conda list
      - name: Test notebooks in docs
        run: |
          pushd docs
          nbstripout source/*.ipynb
          make -j4 html
          popd
